<?php require(APP_PATH.'/index/view/common/header.html');?>		
<div id="main" class="main-container container">
<div class="panel panel-default">

    <div class="panel-heading">
     关于我们
    </div>
    <div class="panel-body">
      <div class="media">
      <div class="media-heading">
        网站声明:
        </div>
      </div>
      本网站仅作为个人学习网站，非商业运营，请不要在本网站发布非法内容。
      如果有web从业技术人员可以加qq：15927375485，email：392771991@qq.com交流
    </div>
</div>

                		</div>

<?php require(APP_PATH.'/index/view/common/footer.html');?>