<?php require(APP_PATH.'/index/view/common/header.html');?>
<div id="main" class="main-container container">
    <div class="users-show">
        <div class="col-md-3 box">
            <div style="text-align: center;">
                <img src="<?=STATIC_URL.$user->avatar;?>" class="img-thumbnail users-show-avatar upload-btn"
                     style="width: 206px;margin: 4px 4px 15px;min-height:190px;cursor: pointer;">
            </div>
                <dl class="dl-horizontal">
                    <dt>
                        <lable>用户&nbsp;id:</lable>
                    </dt>
                    <dd>{$user->id}</dd>
                    <dt><label>用户名:</label></dt>
                    <dd><strong>{$user->name}</strong></dd>
                    <dt>
                        <label>注&nbsp;&nbsp;&nbsp;册:</label>
                    </dt>
                    <dd><span>{$user->created_at|date="Y-m-d h:i", ###}</span></dd>
                </dl>
                <div class="clearfix"></div>
                <a class="btn btn-primary btn-block" href="<?=url('index/userinfo');?>?id=<?=$user->id;?>" id="user-edit-button"> <i class="fa fa-edit"></i> 查看主页信息
            </a> <a class="btn btn-success btn-block" href="###" id="user-edit-button"> <i
                class="fa fa-github"></i> 绑定 Github 账号 </a>
            </div>
            <div class="col-md-9 left-col">
                <div class="panel panel-default">
                    <div class="panel-body ">
                        <ul class="nav nav-tabs" role="tablist">
                            <li><a href="<?=url('index/my')?>">个人信息</a></li>
                            <li class="active"><a href="">头像</a></li>
                            <li><a href="<?=url('index/password')?>">密码</a></li>
                        </ul>
                        <form class="form-horizontal" method="post" action="<?=url('index/avatar')?>" enctype="multipart/form-data" id="avatar-form">
                            <h5><i class="fa fa-image"></i>&nbsp;&nbsp;头像设置</h5>
                            <hr>
                            <div class="form-group">
                                <div class="col-sm-4 avatar-setting-container">
                                    <img src="<?=STATIC_URL.$user->avatar;?>" id="avatar" class="upload-btn" style="cursor: pointer;">
                            </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 status-post-submit">
                                        <input type="file"  name='image' accept="image/png" id='uploadfile' onchange="changepic(this)">
                                         <span class="help-block">
                        头像支持jpg和png格式，建议上传192*192px且不超过2M的图片</span>
                                        <img src="" id='showpic'>
                                        <button type="submit" class="btn btn-primary" id="avatarinput-submit">上传更新</button>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function changepic(){
            var reads=new FileReader();
            f=document.getElementById('uploadfile').files[0];
            reads.readAsDataURL(f);
            reads.onload=function(e){
                img=document.getElementById('showpic');
                img.src=this.result;
                img.style.width=192+"px";
                img.style.height=192+"px"; 
            }
        }
    </script>
    <?php require(APP_PATH.'/index/view/common/footer.html');?>