<?php require(APP_PATH.'/index/view/common/header.html');?>
<div id="main" class="main-container container">
    <div class="users-show">
        <div class="col-md-3 box">
            <div style="text-align: center;">
                <img src="<?=STATIC_URL.$user->avatar;?>" class="img-thumbnail users-show-avatar upload-btn" style="width: 206px;margin: 4px 4px 15px;min-height:190px;cursor: pointer;">
      </div>
                <dl class="dl-horizontal">
                    <dt>
                        <lable>用&nbsp;户id:</lable>
                    </dt>
                    <dd>{$user->id}</dd>
                    <dt><label>用户名:</label></dt>
                    <dd><strong>{$user->name}</strong></dd>
                    <dt><label>注&nbsp;&nbsp;&nbsp;册:</label></dt>
                    <dd><span>{$user->created_at|date="Y-m-d h:i", ###}</span></dd>
                </dl>
                <div class="clearfix"></div>
            <a class="btn btn-primary btn-block" href="<?=url('index/userinfo');?>?id=<?=$user->id;?>" id="user-edit-button"> <i class="fa fa-edit"></i> 查看主页信息
            </a>
                <a class="btn btn-success btn-block" href="###" id="user-edit-button">
        <i class="fa fa-github"></i> 绑定 Github 账号
      </a>
            </div>
            <div class="col-md-9 left-col">
                <div class="panel panel-default">
                    <div class="panel-body ">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="">个人信息</a></li>
                            <li><a href="<?=url('index/avatar')?>">头像</a></li>
                            <li><a href="<?=url('index/password')?>">密码</a></li>
                        </ul>
                        <form role="form" method="post" action="/tieba/public/index.php/index/index/my">
                            <div class="form-group">
                                <input class="form-control" placeholder="昵称" name="nickname" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="城市" name="location" type="text">
                                <div class="help-block">请用中文填写所在城市</div>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="公司" name="company" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="网址" name="website" type="text">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="3" placeholder="个性签名" name="signature" cols="50"></textarea>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="3" placeholder="自我介绍" name="bio" cols="50"></textarea>
                            </div>
                            <div class="form-group">
                                <label>系统语言</label>
                                <select name="locale" class="form-control" required>
                                    <option value="">Select Language</option>
                                    <option value="1">Deutsch</option>
                                    <option value="2">English</option>
                                    <option value="3">简体中文</option>
                                </select>
                            </div>
                            <div class="form-group status-post-submit">
                                <input type="submit" name="commit" value="更新" class="btn btn-primary" id="user-edit-submit" >
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php require(APP_PATH.'/index/view/common/footer.html');?>