<?php require(APP_PATH.'/index/view/common/header.html');?>
<div id="main" class="main-container container">
    <div class="users-show">
        <div class="col-md-3 box">
            <div style="text-align: center;">
                <img src="/tieba/public/static/index/{$user->avatar}" class="img-thumbnail users-show-avatar upload-btn" style="width: 206px;margin: 4px 4px 15px;min-height:190px;cursor: pointer;">
</div>
                <dl class="dl-horizontal">
                    <dt>
                        <lable>用&nbsp;户id:</lable>
                    </dt>
                    <dd>{$user->id}</dd>
                    <dt><label>用户名:</label></dt>
                    <dd><strong>{$user->name}</strong></dd> <dt>
                        <label>注&nbsp;&nbsp;&nbsp;册:</label>
                    </dt>
                    <dd><span>{$user->created_at|date="Y-m-d h:i", ###}</span></dd>
                </dl>
                <div class="clearfix"></div>
            <a class="btn btn-primary btn-block" href="<?=url('index/userinfo');?>?id=<?=$user->id;?>" id="user-edit-button"> <i class="fa fa-edit"></i> 查看主页信息
            </a>
                <a class="btn btn-success btn-block" href="###" id="user-edit-button">
      <i class="fa fa-github"></i> 绑定 Github 账号
    </a>
            </div>
            <div class="col-md-9 left-col">
                <div class="panel panel-default">
                    <div class="panel-body ">
                        <ul class="nav nav-tabs" role="tablist">
                            <li><a href="my.html">个人信息</a></li>
                            <li><a href="avatar.html">头像</a></li>
                            <li class="active"><a href="my.html?tab=password">密码</a></li>
                        </ul>
                        <form class="form-horizontal" method="post" action="<?=url('index/password')?>" enctype="multipart/form-data">
                            <input type="hidden" name="_token" value="BAnCy9yzQxp30BiIkeU58OMjR5uWeDM9dCSMNwKH">
                            <h5><i class="fa fa-wrench"></i>&nbsp;&nbsp;密码设置</h5>
                            <hr>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <input type="password" name="old_password" placeholder="请输入您当前的密码" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <input type="password" name="password" placeholder="请输入新密码" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <input type="password" name="password_confirmation" placeholder="请再次输入新密码" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 status-post-submit">
                                    <button type="submit" class="btn btn-primary" id="update-password">Update password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php require(APP_PATH.'/index/view/common/footer.html');?>